Button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(27, 27, 27, 0);
    -unity-background-scale-mode: scale-to-fit;
    height: 7%;
    background-position-x: left 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

Button:hover {
    -unity-background-image-tint-color: red;
}